version: 2
jobs:
  validate-plan:
    docker:
      - image: circleci/terraform:0.11.10
    environment:
      - COMMIT_AUTHOR_EMAIL: "bot.actinium@gmail.com"
    steps:
      - checkout
      - run:
          name: Store Service Account
          command: echo $GCLOUD_SERVICE_KEY > ${HOME}/project/account.json
      - run:
          name: Terraform Init
          command: terraform init
      - run:
          name: Terraform Validate
          command: terraform validate -var "project-name=$GCP_PROJECT_ID" -var "instance-name=actinium-centos7-box"

workflows:
  version: 2
  validate:
    jobs:
      - validate-plan
